@import "bootstrap";

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* Tipografía */
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}

.container{
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

/* Colores */
.navbar {
  background-color: #343a40; /* Un color más oscuro y moderno */
  color: #fff;
}

.btn-primary {
  background-color: #007bff; /* Azul de Bootstrap */
  border-color: #007bff;
  color: #fff;
}

/* Elementos interactivos */
.btn-primary:hover {
  background-color: #0069d9; /* Color más oscuro en hover */
}

.custom-alert {
  padding: 1rem;
  border-radius: 5px;
  color: #333;
}

.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #f5f5f5;
}

/* Estilos para el scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Ancho del scrollbar */
}

/* Estilos para el scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color de fondo del track */
}

/* Estilos para el scrollbar thumb (la barra deslizadora) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color de la barra deslizadora */
  border-radius: 5px; /* Radio de borde de la barra deslizadora */
}

/* Estilos para el scrollbar thumb al pasar el mouse sobre él */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cambia el color de la barra deslizadora al pasar el mouse sobre ella */
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.pagination span {
  margin: 0 5px;
}

.pagination a {
  text-decoration: none;
  color: #333;
  padding: 5px 9px; /* Ajustar el tamaño del círculo */
  border-radius: 50%;
  text-align: center;
}

.pagination .page.current {
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  padding: 2px 9px; /* Ajustar el tamaño del círculo */
}

.pagination a:hover {
  text-decoration: underline; /* Subrayar al pasar el mouse sobre los botones */
  background-color: transparent; /* Quitar el fondo de color */
  border-color: transparent; /* Quitar el borde */
}

.deactivated {
  color: gray;
}