<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperación de Contraseña</title>
</head>
<body>
  <div style="width: 100%; background-color: #f8f9fa;">
    <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
      <div style="background-color: #fff; border-radius: 10px; padding: 20px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
        <h2 style="color: #333; margin-bottom: 20px;">Recuperación de Contraseña</h2>
        <p>Hola <%= @resource.email %>!</p>
        <p>Parece que has olvidado tu contraseña. No te preocupes, ¡te podemos ayudar a recuperarla!</p>
        <p>Haz clic en el siguiente botón para restablecer tu contraseña:</p>

        <a href="<%= edit_password_url(@resource, reset_password_token: @token) %>" style="text-decoration: none; background-color: #007bff; color: #fff; padding: 10px 20px; border-radius: 5px; display: inline-block; margin-bottom: 20px;">Cambiar mi contraseña</a>

        <p>¿No solicitaste este cambio?</p>
        <p>Si no has solicitado un cambio de contraseña, puedes ignorar este correo electrónico. Tu contraseña actual permanecerá sin cambios.</p>
        <p>Recuerda:</p>
        <ul style="list-style-type: disc; padding-left: 20px;">
          <li>Tu contraseña no se actualizará hasta que accedas al enlace de arriba y crees una nueva.</li>
          <li>Te recomendamos que uses una contraseña segura y única para cada uno de tus sitios web y cuentas.</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
