<% current_path = request.path %>

<% if current_path == root_path || current_path == root_url %>
  <%# No mostrar enlace de regreso en la página de inicio %>
<% elsif current_path.include?('projects') %>
  <%# Lleva al usuario de vuelta al inicio %>
  <%= link_to root_path, class: "nav-link mt-1 ms-3 d-flex align-items-center" do %>
    <span class="material-symbols-outlined">
      arrow_back
    </span>
  <% end %>
<% elsif current_path.include?('tasks') %>
  <% project = @task.project %>
  <%= link_to project_path(project), class: "nav-link mt-1 ms-3 d-flex align-items-center" do %>
    <span class="material-symbols-outlined">
      arrow_back
    </span>
  <% end %>
<% end %>
